body {
    font-family: Arial;
    background: #f4f4f9;
}

.container {
    width: 40%;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 140px;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005ee0;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #e8f5e9;
    border-left: 5px solid #4caf50;
}
